a,
a:hover {
  text-decoration: none;
}

@font-face {
  font-family: "iryekan";
  src: url("fonts/IRANYekanWebFn.svg#IRANYekanWebFn") format("svg"),
    url("fonts/IRANYekanWebFn.ttf") format("truetype"),
    url("fonts/IRANYekanWebFn.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "iryekan";
  src: url("fonts/iranyekanwebregularfanum.eot");
  src: url("fonts/iranyekanwebregularfanum.eot?#iefix") format("embedded-opentype"),
    url("fonts/iranyekanwebregularfanum.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "iryekan";
  src: url("fonts/IRANYekanWebFn-ExtraBold.svg#IRANYekanWebFn-ExtraBold") format("svg"),
    url("fonts/IRANYekanWebFn-ExtraBold.ttf") format("truetype"),
    url("fonts/IRANYekanWebFn-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "iryekan";
  src: url("fonts/iranyekanwebextraboldfanum.eot");
  src: url("fonts/iranyekanwebextraboldfanum.eot?#iefix") format("embedded-opentype"),
    url("fonts/iranyekanwebextraboldfanum.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

body {
  background: #f3f4f6;
  font-family: "iryekan";
}

/* cart */
.cart {
  align-items: center;
  display: flex;
}

.cart img {
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: #22b573;
  border-radius: 9px;
}

.cart span {
  top: -15px;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background: url(/img/svg/count-cart.svg);
  right: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
}

.new-menu {
  background: white;
  border-top: #22b573 2px solid;
  /* border-bottom: #22b573 2px solid; */
  border-radius: 0px 0px 20px 20px;
  height: auto;
  width: 100%;
  box-shadow: 0 9px 30px rgb(211 211 211 / 40%) !important;
  transition: all ease 0.5s;
  opacity: 0;
  z-index: 1;
  position: absolute;
  right: 0;
  left: 0;
  top: 105px;
  visibility: hidden;
  padding-bottom: 20px;
}


.cat-body {
  border-left: #22b573 solid 3px;
}

.cat-title {
  font-weight: bold;
  padding: 5px 0;
  font-size: 15px;
  word-spacing: -3px;
  color: #22b573;
}

.cat-des {
  word-spacing: -3px;
  font-size: 13px;
}

.product-number h2 {
  font-size: 26px;
  font-weight: bold;
  color: #22b573;
}

.product-number h4 {
  font-size: 12px;
  word-spacing: -3px;
  margin-top: -10px;
}

.item:hover .product-number h2 {
  color: white;
}

.item:hover .product-number h4 {
  color: white;
}

.item:hover .product-number {
  background-color: #22b573;
}

.product-number {
  box-shadow: 0 9px 30px rgb(211 211 211 / 40%) !important;
  transition: all ease 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  background: white;
  padding: 3px;
  width: 70px;
  height: 70px;
}

.pr-title {
  font-weight: bold;
  font-size: 13px;
  padding: 4px 0;
}

.pr-des {
  font-size: 11px;
}

.shegeft-section .block-title h2,
.shegeft-section .block-title a {
  color: white;
}

.block-title {
  position: relative;
  height: 320px;
  width: 100%;
  padding-top: 15px;
}

#shegeft-slider .block-t h2 {
  font-weight: bold;
  line-height: 0.7;
}

.porfrosh-section .block-t h2 {
  font-weight: bold;
  line-height: 0.7;
  word-spacing: -6px;
  font-size: 22px;
}

.border-title {
  height: 110px;
  border-right: 1px dashed #c4c4c4;
  position: absolute;
  right: 25%;
  margin-top: 25px;
}

#shegeft-slider .all-view {
  position: absolute;
  right: 12%;
  bottom: 50px;
}

.all-view .plus-bg {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  margin-left: 10px;
  border-radius: 10px;
  box-shadow: 0 9px 30px rgb(211 211 211 / 40%) !important;
  background-color: white;
}

.all-view h1 {
  font-weight: bold;
  font-size: 25pt;
  line-height: 1.3;
}

.all-view a {
  font-size: 12px;
  margin-top: 3px;
  color: #646464;
}

.product-item {
  position: relative;
  width: 100%;
  background: white;
  border-radius: 20px;
  /* box-shadow: 0 9px 30px rgb(211 211 211 / 40%) !important; */
  transition: all ease 0.5s;
  /* min-height: 425px; */
  height: auto;
}

img.product-image {
  width: 100%;
  border-radius: 25px;
  height: 235px;
  object-fit: cover;
  padding: 10px;
}

.product-item span.takhfif-n {
  position: absolute;
  left: 20px;
  top: 19px;
  background: #ffc83a;
  color: rgb(32, 31, 39);
  padding: 5px 12px;
  border-radius: 14px;
  font-size: 12px;
  font-weight: bold;
}

.product-item .add-cart {
  font-size: 10px;
  color: #646464;
  margin-top: 10px;
  margin-right: 8px;
  font-weight: 700;
}

.price img {
  position: absolute;
  left: 23px;
  z-index: 0;
  bottom: -5px;
  width: 72% !important;
}

.price .detail-price {
  position: relative;
  z-index: 1;
}

span.gheymat-ghabli {
  color: #d4d4d4;
  text-decoration: line-through;
  margin-top: 0px;
  margin-left: 10px;
  font-size: 15px;
}

span.gheymat {
  font-size: 16px;
  font-weight: bold;
  color: #22b573;
  margin: 0 7px;
  /* background: url('img/SVG/price-bg.svg') no-repeat bottom; */
}

span.toman {
  font-size: 10px;
  color: #14334c;
}

.cardbtn img {
  width: 26px !important;
}

.product-des-item {
  padding: 15px;
}

h6.product-title {
  font-size: 13px;
  font-weight: bold;
  color: #070707;
  word-spacing: -3px;
  text-align: right;
}

.shegeft-section {
  background: #22b573;
  padding: 15px 0;
}

.porfrosh-section {
  /* background: url(/img/svg/bg-circle.svg); */
  background: url(/img/svg/bg-new.svg);
  margin: -10px 0;
}

.sponser img {
  width: 70%;
  height: auto;
  filter: grayscale(1);
  transition: all ease 0.4s;
}

.sponser img:hover {
  filter: grayscale(0);
}

#sponser {
  padding: 50px 0 0 0;
}

#sponser h2 {
  font-weight: bold;
  font-size: 15pt;
  word-spacing: -4px;
}

.owl-carousel {
  z-index: 0 !important;
}

.slider-item {
  padding: 10px;
}

.slider-item img {
  border-radius: 35px;
}

.owl-dot span {
  margin: 5px;
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 100%;
  background-color: #22b5735c;
}

#slider .owl-nav {
  position: relative;
  left: 5%;
  bottom: 64px;
}

#slider button {
  background: #0000004d;
  padding: 6px !important;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  margin: 5px;
  color: white;
  transition: all ease 0.4s;
}

#slider button:hover,
#slider button:focus {
  background-color: white;
  color: #070707;
}

button.owl-dot.active span {
  background-color: #22b573;
}

#catagory-slider .owl-nav {
  margin-top: 1px;
}

#catagory-slider button {
  background: white;
  padding: 6px !important;
  border-radius: 100%;
  border-radius: 100%;
  margin: 5px;
  padding: 1px 10px !important;
  transition: all ease 0.4s;
}

#catagory-slider button:hover {
  background-color: #22b573;
  color: white;
}

#shegeft-slider #shegeft-slider .owl-nav {
  margin-top: 20px;
  /* margin: 0 auto; */
  /* width: 100%; */
  text-align: center;
}

#shegeft-slider button {
  background: white;
  padding: 6px !important;
  border-radius: 100%;
  border-radius: 100%;
  margin: 5px;
  padding: 1px 10px !important;
  transition: all ease 0.4s;
}

#shegeft-slider button:hover {
  /* background-color: #22b573; */
  color: #22b573;
}

#shegeft-slider .owl-nav {
  text-align: center;
  margin-top: 10px;
}

.icon-cat {
  background-color: #22b573;
  padding: 7px 6px 0;
  border-radius: 19px;
}

/* جدید شنبه 19 فروردین خونه */
.search button:focus,
.search button:active {
  outline: none;
  border: none;
}

.search button {
  width: 34px;
  border: none;
}

.modal-dialog {
  max-width: 650px !important;
}

.modal {
  background-color: #00000058;
}

.modal-content {
  border-radius: 15px !important;
  padding: 10px !important;
}

#search-modal-input {
  padding: 10px !important;
  font-size: 15px;
  border-radius: 10px;
}

.shopsearch button {
  position: absolute;
  right: 7px;
  top: 3px;
  background: transparent !important;
}

.shopsearch form {
  z-index: 1;
}

.shopsearch input {
  width: 100%;
  padding: 13px 50px 13px 20px;
  border-radius: 8px;
  border: none;
  box-shadow: 0 0 20px 0 #0000001c;
  text-align: right;
  background: #fff;
}

.shopsearch button {
  position: absolute;
  right: 19px;
  top: 29px;
  background: transparent !important;
  border: none;
}

.result-search {
  background: white;
  padding: 10px;
  border-radius: 0 0px 12px 12px;
  position: absolute;
  width: 94%;
  top: 40px;
  z-index: 0;
  display: none;
  box-shadow: 0 9px 30px rgb(211 211 211 / 40%) !important;
}

img.search-image {
  width: 70px !important;
  height: auto;
  margin-left: 10px;
}

a.search-title {
  font-size: 11px;
  color: black;
  font-weight: bold;
}

.items-center {
  align-items: center;
}

#owl-search {
  position: relative;
}

#owl-search .owl-item {
  border: 1px solid #ddd;
  border-radius: 10px;
}

#owl-search .owl-nav {
  position: absolute;
  top: -35%;
  /* background: rebeccapurple; */
  /* width: 100%; */
  /* height: 100px; */
  left: 40px;
}

#owl-search .owl-stage {
  margin-right: -44px;
  padding-top: 0;
}

#owl-search .owl-stage-outer img {
  /* padding: 0px 40px; */
  border-radius: 10px;
  object-fit: cover;
  width: 60px !important;
  height: 60px;
}

#owl-search button.owl-next {
  /* position: relative; */
  /* right: 0; */
  /* left: 0; */
  /* top: -45px; */
  background: #e2e2e2 !important;
  padding: 6px !important;
  border-radius: 100%;
  margin: 5px;
  padding: 1px 10px !important;
  transition: all ease 0.4s;
  border: 1px solid #ddd;
}

#owl-search .search-item {
  padding: 5px 5px;
}

#owl-search button.owl-prev {
  /* position: absolute; */
  /* right: 0; */
  /* right: 0; */
  /* top: -45px; */
  background: #e2e2e2 !important;
  padding: 6px !important;
  border-radius: 100%;
  margin: 5px;
  padding: 1px 10px !important;
  transition: all ease 0.4s;
  border: 1px solid #ddd;
  margin-top: 35px;
}

h1.relative-pr {
  text-align: right;
  font-size: 13px;
  font-weight: bold;
  margin-top: 27px;
  margin-right: 7px;
  margin-bottom: -6px;
}

.user a,
.call-number {
  font-size: 12px;
  color: #333333;
}

.call img {
  width: 20px;
  height: auto;
  margin-top: -7px;
}

.lang {
  width: 30px;
  height: 30px;
}

.lang a {
  background-color: white;
  color: #333333;
  padding: 6px 9px;
  border-radius: 12px;
}

.top-logo img {
  width: 77px;
}

.search button {
  background: white;
  padding: 5px;
  border-radius: 12px;
}

.navbar-light .navbar-nav .nav-link {
  font-weight: 700;
  font-size: 14px;
}

li.searched-catagory {
  list-style: none;
  text-align: right;
  background: white;
  border: 1px solid #ddd;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 9px;
  font-size: 14px;
}

li.searched-catagory a {
  color: #14334c;
}

#search-list-category {
  margin-right: -45px;
}

h1.relative-ca {
  text-align: right;
  font-size: 13px;
  font-weight: bold;
  margin-top: 15px;
  margin-right: 7px;
  margin-bottom: 15px;
}

.li-nav-item {
  list-style: disc;
  margin: 5px 0;
}


.owl-stage {
  padding-top: 25px;
}

.product-item:hover {
  transform: translateY(-20px);
}

.price-pr {
  margin-right: -20px;
}

/* footer */
#footer-contact {
  padding-top: 20px;
}

#footer-contact .icons {
  margin-top: -20px;
}

#footer-contact h1 {
  color: #070707;
  font-size: 14pt;
  font-weight: bold;
  word-spacing: -4px;
}

#footer-contact p {
  color: white;
  font-size: 10pt;
}

#footer-menu {
  background-color: white;
  padding: 50px 0;
  text-align: right;
}

#footer-menu h1 {
  font-size: 17px;
  font-weight: bold;
  word-spacing: -3px;
  margin-bottom: 20px;
}

#footer-menu p {
  font-size: 13px;
  word-spacing: -2px;
  line-height: 2;
  text-align: right;
  color: #646464;
}

#footer-menu ul {
  margin-right: -35px;
}

#footer-menu li {
  font-size: 13px;
  margin: 10px;
}

#arezo img {
  width: 100%;
  border-radius: 20px;
}

div#catagory-slider .owl-stage-outer {
  margin-top: -25px;
}

.icon-item {
  background-color: rgb(255 255 255 / 11%);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: all ease 0.4s;
}

#sponser h2 {
  margin-bottom: 20px;
}

.contact-way {
  text-align: left;
  direction: ltr;
}

.contact-way li {
  list-style: none;
}

a.read-more-footer {
  color: #14334c;
  border-radius: 35px;
  font-size: 12px;
  background-color: #d4d4d4;
  padding: 6px 17px;
}

#academy {
  padding: 25px;
}

#academy img {
  transition: all ease 0.4s;
}

#academy img:hover {
  filter: grayscale(1);
  transform: translateY(-8px);
}

.icon-item:hover {
  background-color: #070707;
}

.icon-item a {
  padding-top: 8px;
}

#events {
  padding-bottom: 40px;
}

#events h2 {
  font-weight: bold;
  font-size: 10pt;
  word-spacing: -4px;
  color: #22b573;
  margin-bottom: -20px;
}

img.virgool {
  width: 430px;
}

#events h1 {
  font-size: 22px;
  padding-top: 5px;
  font-weight: bold;
  word-spacing: -3px;
}

#events p {
  font-size: 15px;
  line-height: 2;
  word-spacing: -3px;
  color: #8d8d8d;
}

#blogs {
  padding: 40px 0;
}

#blogs h5 {
  font-size: 13px;
  color: #9f9f9f;
  margin-top: 11px;
  margin-right: 5px;
  word-spacing: -2px;
}

.image-blogs {
  width: 100%;
  height: 310px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 20px;
  /* box-shadow: 0 9px 30px rgb(211 211 211 / 40%) !important; */
}

#blogs a {
  font-size: 19px;
  color: #070707;
  font-weight: bold;
  word-spacing: -5px;
  line-height: 1.7;
  text-indent: 38px;
  margin: 10px 0;

}

#blogs .owl-nav {
  text-align: center;
  margin-top: 10px;
}

#blogs button {
  background: white;
  border-radius: 100%;
  margin: 5px;
  transition: all 0.4s ease 0s;
  padding: 1px 10px !important;
}

#blogs .blog-des {
  /* background-color: white; */
  padding: 45px;
  /* border-radius: 20px; */
}

#blogs h4 {
  font-size: 12px;
  font-weight: normal;
  word-spacing: -3px;
  color: #8d8d8d;
}

#blogs p {
  font-size: 15px;
  line-height: 2;
  word-spacing: -3px;
  color: #8d8d8d;
}

.image-blogs {
  position: relative;
}

img.arrow-blogs {
  position: absolute;
  right: 45px;
  top: 74px;
  width: 30px !important;
}

img.image-pr-inside {
  width: 100%;
  height: 445px;
  border-radius: 20px;
  object-fit: cover;
}

.add-cart {
  border-radius: 12px;
  background-color: #ffc83a;
  color: #14334c;
  width: 100%;
  padding: 5px;
}

a.add-cart {
  color: #14334c;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.add-cart img {
  width: 21px;
  height: auto;
}

h1.add-text {
  font-size: 14px;
  font-weight: bold;
  word-spacing: -4px;
  margin-top: 10px;
  margin-right: 10px;
}

h4.pr-title-inside {
  font-size: 18pt;
  font-weight: bold;
  word-spacing: -3px;
}

p.des-pr-inside {
  font-size: 14px;
  color: #868686;
  word-spacing: -2px;
  margin-top: -7px;
}

.cart-price-des {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 10px;
}

h2.cart-price {
  font-weight: bold;
  color: rgb(26, 170, 91);
}

h6.cart-price-ghabli {
  padding: 0 20px;
  text-decoration: line-through;
  color: #b2b2b2;
}

.flex-center {
  display: flex;
  justify-content: left;
  align-items: center;
}


.size-des span {
  margin: 0 12px;
  color: #7b7b7b;
}

h6.text-size {
  font-weight: bold;
  margin: 0px 0px 1px 10px;
}

p.toman-inside {
  color: #888;
  padding: 7px;
  font-size: 13px;
  margin-top: 9px;
}

.custom-control {
  margin: 0 15px;
  line-height: 1.7;
  color: #14334c;
}

.pr-vijegi {
  margin-top: 30px;
  margin-right: 10px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.pr-vijegi h4 {
  font-size: 13px;
  margin: 12px;
}


/* Basic styling */

[type=checkbox] {
  width: 1.5rem;
  height: 1.5rem;
  color: rgb(26, 170, 91);
  vertical-align: text-bottom;
  -webkit-appearance: none;
  background: none;
  border: 0;
  outline: 0;
  flex-grow: 0;
  border-radius: 50%;
  /* background-color: #FFFFFF; */
  transition: background 300ms;
  cursor: pointer;
}


/* Pseudo element for check styling */

[type=checkbox]::before {
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 1px #CCD3D8;
}


/* Checked */

[type=checkbox]:checked {
  background-color: currentcolor;
}

[type=checkbox]:checked::before {
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}


/* Disabled */

[type=checkbox]:disabled {
  background-color: #CCD3D8;
  opacity: 0.84;
  cursor: not-allowed;
}


/* IE */

[type=checkbox]::-ms-check {
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 1px #CCD3D8;
}

[type=checkbox]:checked::-ms-check {
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}

.colors-sizes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0px 20px 0;
}

.size label {
  color: #999;
  margin: 0 9px;
  font-size: 13px;
}

li.pr-tag {
  background: white;
  display: inline;
  padding: 4px 20px;
  list-style: none;
  border-radius: 28px;
  margin: 0 10px;
}

li.pr-tag a {
  color: #333333;
  font-size: 9pt;
  font-weight: 600;
}

.cart-number-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1.number-as-pr {
  text-align: center;
  color: #000;
  font-size: 30px;
  font-weight: bold;
  margin-top: 7px;
  /* margin-left: 6px; */
}

button.number-pr {
  background: #1aaa5b;
  border: none;
  margin: 0 7px;
  /* padding: 5px 15px; */
  border-radius: 13px;
  height: 34px;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

#tarh-pish img {
  width: 100%;
  padding: 15px;
  border-radius: 28px;
  object-fit: cover;
  margin-right: -10px;
  height: 305px;
}

.pish-item {
  background-color: white;
  border-radius: 15px;
  margin: 10px;
  transition: all 0.5s ease 0s;
}

.pish-item:hover {
  background-color: #1aaa5b;
  color: white;
  transform: translateY(-10px);
}

.pish-item:hover .cart-price-ghabli {
  color: white;
}

.pish-item:hover a.pish-title {
  color: white;
}

.pish-item:hover h4 {
  color: white;
}

.pish-item:hover h2.cart-price {
  color: white;
}

.pish-item:hover p.toman-inside {
  color: white;

}


a.pish-title {
  font-weight: bold;
  color: #333;
  word-spacing: -4px;
  font-size: 18pt;
}

.date-pish {
  margin: 9px 0 6px;
}

.date-pish h4 {
  font-size: 9pt;
  color: #8c8c8c;
}

.pr-sec h2.cart-price {
  font-size: 23pt;
}

.pr-sec h6.cart-price-ghabli {
  padding-left: 13px;
  padding-right: 0;
  margin-bottom: -18px;
}

.pr-sec .cart-price-des {
  justify-content: flex-start;
}

#tarh-pish {
  margin-bottom: 50px;
}

#tarh-pish .owl-nav {
  margin-top: 20px;
  /* margin: 0 auto; */
  /* width: 100%; */
  text-align: center;
}

#tarh-pish button {
  background: white;
  padding: 6px !important;
  border-radius: 100%;
  border-radius: 100%;
  margin: 5px;
  padding: 1px 10px !important;
  transition: all ease 0.4s;
}

#tarh-pish button:hover {
  background-color: #1aaa5b;
  color: white;
}

.owl-stage {
  margin: 0 auto;
}

#porfrosh-section .owl-nav {
  margin-top: 20px;
  /* margin: 0 auto; */
  /* width: 100%; */
  text-align: center;
}

#porfrosh-section button {
  background: white;
  padding: 6px !important;
  border-radius: 100%;
  border-radius: 100%;
  margin: 5px;
  padding: 1px 10px !important;
  transition: all ease 0.4s;
}

#porfrosh-section button:hover {
  background-color: #1aaa5b;
  color: white;
}

.date-pish h5 {
  font-size: 12px;
}

.colors {
  margin-top: 26px;
}

.colors-sec input {
  margin: 0 14px;
}

h5.pish-takh {
  background: red;
  padding: 4px 10px;
  font-size: 12px;
  color: white;
  border-radius: 20px;
  margin-left: 10px;
}

.h-row h3 {
  margin: 0 4px;
  font-size: 14px;
  font-weight: bold;
  color: #1aaa5b;
}
.h-row h4 {
  margin: 0 4px;
  font-size: 14px;
}
.h-row {
  display: flex;
  word-spacing: -4px;
  border-bottom: 1px solid #f3f3f3;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0 15px 0;
}
div#tr {
  background: white;
  border-radius: 14px;
  padding: 15px;
  position: relative;
}
.h-read-more {
  position: absolute;
  left: 0px;
  font-size: 20pt;
  font-weight: bold;
}
.dropdown-toggle::after {
  display: none;
}
button#btn-read {
  background: #1aaa5b;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 10pt;
    font-weight: bold;
}
button#btn-read:focus {
  border: none;
  box-shadow: none;
}
li.h-row:last-child {
  border: none;
  padding-bottom: 0;
}
.h-read-more ul.dropdown-menu.show {
  text-align: right;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  min-width: 16rem;
}
.h-read-more li {
  border-bottom: 1px solid #f3f3f3;
  padding: 5px 0;
}
.h-read-more li:last-child {
  border: none;
  padding-bottom: 0;
}
.h-read-more li a{
  font-size: 14px;
  color: #070707;
}
.h-pr-list h3 {
  margin: 0 4px;
  font-size: 14px;
  font-weight: bold;
  color: #1aaa5b;
}
.h-pr-list h4 {
  margin: 0 4px;
  font-size: 14px;
}
#h-ghest-list h3 {
  margin: 0 4px;
  font-size: 14px;
  font-weight: bold;
  color: #1aaa5b;
}
#h-ghest-list h4 {
  margin: 0 4px;
  font-size: 14px;
}
#h-file-list a h1{
  font-size: 16px;
  font-weight: bold;
  color: #070707;
  margin-top: 10px;
}
#h-file-list h3{
  font-size: 14px;
  margin-left: 10px;
  margin-top: 5px;
}
.menu-ho {
  position: absolute;
  width: 200px;
  background: white;
  left: 9px;
  top: 53px;
  padding: 0 17px;
  border-radius: 14px;
  padding-bottom: 12px;
  z-index: 1;
  box-shadow: 0 9px 30px rgb(211 211 211 / 40%) !important;
  display: none;
}
.menu-ho.show {
  display: block;
}
















@media (max-width: 575.98px) {
  .cat-body {
    border-left: 0;
    margin: 10px;
  }

  .block-title {
    margin: 20px;
    margin-top: -30px;
    margin-bottom: 0px;
    position: inherit;
    display: flex;
    justify-content: space-between;
    width: auto;
    height: auto;
  }

  #academy img {
    margin: 10px 0;
  }

  .porfrosh-section .block-t h2 {
    line-height: 1.8;
  }

  #arezo img {
    width: 100%;
    border-radius: 12px;
  }

  img.virgool {
    width: 100%;
  }

  #tarh-pish img {
    width: 100%;
    padding: 0;
    border-radius: 12px;

    height: 206px;
    margin: 12px 0px;
  }

  .border-title {
    display: none;
  }

  .top-logo img {
    margin-top: 18px;
  }

  .slider-item img {
    height: 150px;
    object-fit: cover;
  }

  .slider .owl-stage {
    margin-top: 0;
  }

  div#slider {
    margin-bottom: -35px;
  }

  #tarh-pish {
    margin-bottom: 15px;
  }

  .shegft-m {
    margin-right: 14px;
  }

  #shegeft-slider .all-view {
    position: initial;
  }

  .image-blogs {

    height: 221px;
  }

  #footer-contact .icons {
    margin-top: 0;
    margin-bottom: 12px;
  }
  #sponser h2 {
    text-align: center;
  }
  .product-item {
    margin-right: 0px;
  }
  h4.pr-title-inside {
    margin: 25px 0;
  }
  .cart-price-des {
    justify-content: flex-start;
  }
  .pr-vijegi img {
    width: 30px;
}
  nav#top-navbar {
    display: none;
  }

  #sponser {
    padding: 18px 0 0 0;
  }

  div#icons-social {
    display: flex !important;
    justify-content: center !important;
    align-items: center;
  }

  .text-merooj {
    text-align: center !important;
  }
  .shegft-m {
    margin-right: 0;
}
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}